{% extends 'command/base.html' %}
{% load static %}
{% block content %}
<section class="page-section">
 
  <div class="container-fluid bg-dark">
    <div class="row d-flex justify-content-center text-center m-4">  
      <a href="{% url 'index' %}"><i> >> Retour <<</i></a>
    </div>
  </div>
  
  <div class="container-fluid bg-dark">
    <div class="row d-flex justify-content-center text-center m-1">  
      <img class="img-fluid " src="{% static 'command/img/404.png' %}" alt="Error 404">
    </div>
    
    <div class="row d-flex justify-content-center text-center m-1">
      <h3 class="text-warning"><strong>La page demandée n’existe pas ou n’existe plus</strong></h3>
    </div>
    <div class="row d-flex justify-content-center text-center m-1">
      <h3 class="text-danger"><i>"Error 404: File Not Found"</i></h3>
    </div>
  </div>

</section>
{% endblock %}