{% extends 'command/base.html' %}
{% block title %}MonPtiBar - Note{% endblock %}
{% load static %}
{% block content %}

<section class="page-section h-100">
	<div class="container-fluid">
		<div class="row d-flex  pb-1 px-3">
			<a href="{% url 'ordering' %}">
        <i class="fas fa-clipboard-list"></i>
        <span>Menu</span>
			</a>	
		</div>

		<div class="row d-flex justify-content-center pb-1">
			<div class="text-center col-7 py-1">
				Note pour: {{ filter_name.filter }}<strong>{{ filter_name.name }}</strong>
			</div>	
			{% if not filter_name.filter == 'Table ' %}
			<a href="{% url 'get_bill' %}" class="text-center col-7">
				>> Voir la note pour la table {{ table }}
			</a>
			{% else %}
			<div class="text-center text-muted col-9">
				Cliquez sur un <i><u>client</u></i> pour avoir sa note
			</div>
			{% endif %}
		</div>

		<div class="row d-flex justify-content-between align-items-center py-2">
			<span class="col-5 text-center">Nombre d'article: <strong>{{ order_data.items_qty|add:new_data.items_qty }}</strong></span>
			<span class="col-5 text-center">Note: <strong>{{ bill_amount|floatformat:2 }} €</strong></span>
		</div>
	</div>

	<div class="container-fluid ">
		<div class="new row d-flex justify-content-center align-items-center bg-dark mb-1">
			<div class="col-4 text-center text-muted">{{ new_data.items_qty }}</div>
			<button class="btn rounded col-4 my-2 px-1 py-0" onclick="displayElt('new_orders')">Nouvelle(s)</button>
			<div class="col-4 text-center text-muted">{{ new_data.total_price|floatformat:2 }} €</div>
		</div>

		<div class="container-fluid p-0" id="new_orders"  style="display: block;">
			{% for line in bill_data %}
			{% if line.status == 'new' or line.status == 'in progress' %}
				<div class="new row d-flex justify-content-center align-items-center bg-dark mb-1">
					
					<div class="col-1 px-2 text-center">
						{% if line.status == 'new' %}
						<a href="{% url 'ordering' %}?del-product-bill={{ line.id }}">

							<i class="far fa-trash-alt py-1"></i>
						</a>
						{% endif %}
					</div>
					
					<span class="col-6 px-1">
						{{ line.product.name }}
					</span>
					
					<a href="{% url 'get_bill' %}?filter-name={{ line.user }}" class="col-3 text-center px-0" style="text-transform: capitalize;">
						<i>{{ line.user }}</i>
					</a>

					{% if line.price == 0 %}
					<span class="col-2 text-center text-success px-0">
						Offert
					{% else %}
					<span class="col-2 text-center px-0">
						{{line.price}} €
					{% endif %}
					</span>
				</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>

	<div class="container-fluid">
		<div class="row d-flex justify-content-center align-items-center bg-dark mb-1">
			<div class="col-4 text-center text-muted">{{ order_data.items_qty }}</div>
			<button class="btn rounded col-4 my-2 px-1 py-0"  onclick="displayElt('delivered_orders')">Livrée(s)</button>
			<div class="col-4 text-center text-muted">{{ order_data.total_price|floatformat:2 }} €</div>
		</div>

		<div class="container-fluid p-0" id="delivered_orders" style="display: none;">
			{% for line in bill_data %}
			{% if line.status == 'payed' or line.status == 'delivered' %}
				{% if line.status == 'payed' %}
				<div class="row d-flex text-muted justify-content-center align-items-center bg-dark py-1 mb-1">
				{% elif line.status == 'delivered' %}
				<div class="row d-flex justify-content-center align-items-center bg-dark py-1 mb-1">
				{% endif %}
				{% if line.status == 'payed' %}
					<span class="col-2">
						<i>Payée</i>
					</span>
					<span class="col-5">
						{% else %}
					<span class="col-7">
						{% endif %}	
						{{ line.product.name }}
					</span>

					<a href="{% url 'get_bill' %}?filter-name={{ line.user }}" class="col-3 text-center px-0" style="text-transform: capitalize;">
						<i>{{ line.user }}</i>
					</a>

					{% if line.price == 0 %}
					<span class="col-2 text-center text-success px-0">
						Offert
					{% else %}
					<span class="col-2 text-center px-0">
						{{line.price}} €
					{% endif %}
					</span>
				</div>
			
			{% endif %}
			{% endfor %}
		</div>
	</div>

	<div class="container-fluid mt-4">
		<div class="row d-flex justify-content-center mb-0">
			
			<button class="btn rounded col-4 m-2 px-1 py-0" onclick="displayElt('bill')">Régler la note</button>
			
		</div>
		<div class="container-fluid p-0" id="bill" style="display: none;">
			
			<div class="row d-flex justify-content-center bg-dark mb-1">
				{% if not filter_name.filter == 'Table ' %}
				<div>Montant à régler pour {{ filter_name.name}}:</div>
				{% else %}
				<div>Montant à régler pour la Table {{ filter_name.name}}:</div>
				{% endif %}
				<div class="row w-100"></div>
				<span id="amount" name="amount" form="payment-form"><strong>{{ bill_amount|floatformat:2 }} €</strong></span>
			</div>
			<div class="row d-flex justify-content-center bg-dark mb-1">
				<div>Souhaitez-vous laisser un pour boire ?</div>
				<div class="row w-100"></div>
				<div class="text-center">
					<form action="{% url 'pay_bill' %}" id="payment-form" method="post">
						{% csrf_token %}
						{{ form }}
						<input type="number" id="tip" name="tip" form="payment-form"
						placeholder=0 class="col-3"> €
						<input type="submit">
					</form>
				</div>
			</div>
			<div class="row d-flex justify-content-center bg-dark mb-1">
				<button class="btn rounded col-4 m-2 px-1 py-0" onclick="Payment('{{ bill_amount|floatformat:2 }}', 'cb')">Par CB</button>
				<form class="col-4 m-0 p-0" action="{% url 'pay_bill' %}?payment-data={{ filter_name.name }}" method="post">
					{% csrf_token %}
					<button class="btn rounded col-12 m-2 px-1 py-0" onclick="Payment('{{ bill_amount|floatformat:2 }}')">Autre</button>
				</form>
			</div>
			
		</div>
	</div>

</section>

{% endblock %}