{% extends 'command/base.html' %}
{% block title %}MonPtiBar - Note{% endblock %}
{% load static %}
{% block content %}

<section class="page-section h-100">
	<div class="container-fluid">
		<div class="row d-flex justify-content-between pb-1 px-3">
			<a href="{% url 'ordering' %}">
				<div class="col-12 text-center">Menu
					<div class="">
						<i class="fas fa-clipboard-list"></i>
					</div>
				</div>
			</a>
			<a href="">
				<div class="col-12 text-center">Rafraichir
					<div class="">
						<i class="fas fa-sync-alt"></i>
					</div>
				</div>
			</a>
		</div>

		<div class="row d-flex justify-content-center pb-1">
			<div class="text-center col-10 p-0">
				Note pour: {{ filter_name.filter }}
			</div>
			<div class="text-center col-10 p-0">
				<strong>{{ filter_name.name }}</strong>
			</div>
	
			{% if not filter_name.filter == 'Table ' and not filter_name.name == user %}
			<div class="text-center col-10 p-0">
				<a class="nav-link" href="{% url 'pay_bill' %}?add-bill={{ filter_name.name }}">
					<i class="fas fa-user-plus"></i>
				</a>
			</div>	
			<div class="text-center col-11 p-0">
				<a href="{% url 'get_bill' %}">
				>> Voir la note pour la table {{ table }}
				</a>
			</div>
			{% else %}
			<div class="text-center text-muted col-11">
				Cliquez sur un client pour avoir sa note
			</div>
			{% endif %}
		</div>

		<div class="row d-flex justify-content-between align-items-center py-2">
			<span class="col-5 text-center">Nombre d'article: <strong>{{ order_data.items_qty|add:new_data.items_qty }}</strong></span>
			<span class="col-5 text-center">Note: <strong>{{ bill_amount|floatformat:2 }} €</strong></span>
		</div>
	</div>

	<div class="container-fluid ">
		<div class="new row d-flex justify-content-center align-items-center bg-dark mb-1">
			<div class="col-4 text-center text-muted">{{ new_data.items_qty }}</div>
			<button class="btn rounded col-4 my-2 px-1 py-0" onclick="displayElt('new_orders')">Nouvelle(s)</button>
			<div class="col-4 text-center text-muted">{{ new_data.total_price|floatformat:2 }} €</div>
		</div>

		<div class="container-fluid p-0" id="new_orders"  style="display: block;">
			{% for line in bill_data %}
			{% if line.status == 'in-progress' or line.status == 'new' %}
				<div class="new row d-flex justify-content-center align-items-center bg-dark mb-1">
					
					<div class="col-1 px-2 text-center">
						{% if line.status == 'new' %}
						<a href="{% url 'ordering' %}?del-product-bill={{ line.id }}">

							<i class="far fa-trash-alt py-1"></i>
						</a>
						{% endif %}
					</div>
					
					<span class="col-6 px-1">
						{{ line.product.name }}
					</span>
					
					<a href="{% url 'get_bill' %}?filter-name={{ line.user }}" class="col-3 text-center px-0" style="text-transform: capitalize;">
						<i>{{ line.user }}</i>
					</a>

					{% if line.price == 0 %}
					<span class="col-2 text-center text-success px-0">
						Offert
					{% else %}
					<span class="col-2 text-center px-0">
						{{line.price}} €
					{% endif %}
					</span>
				</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
	<hr class="divider">
	<div class="container-fluid">
		<div class="row d-flex justify-content-center align-items-center bg-dark mb-1">
			<div class="col-4 text-center text-muted">{{ order_data.items_qty }}</div>
			<button class="btn rounded col-4 my-2 px-1 py-0"  onclick="displayElt('delivered_orders')">Livrée(s)</button>
			<div class="col-4 text-center text-muted">{{ order_data.total_price|floatformat:2 }} €</div>
		</div>

		<div class="container-fluid p-0" id="delivered_orders" style="display: block;">
			{% for line in bill_data %}
			{% if line.status == 'payed' or line.status == 'delivered' %}
				{% if line.status == 'payed' %}
				<div class="row d-flex text-muted justify-content-center align-items-center bg-dark py-1 mb-1">
				{% elif line.status == 'delivered' %}
				<div class="row d-flex justify-content-center align-items-center bg-dark py-1 mb-1">
				{% endif %}
				{% if line.status == 'payed' %}
					<span class="col-2">
						<i>Payée</i>
					</span>
					<span class="col-5">
						{% else %}
					<span class="col-7">
						{% endif %}	
						{{ line.product.name }}
					</span>

					<a href="{% url 'get_bill' %}?filter-name={{ line.user }}" class="col-3 text-center px-0" style="text-transform: capitalize;">
						<i>{{ line.user }}</i>
					</a>

					{% if line.price == 0 %}
					<span class="col-2 text-center text-success px-0">
						Offert
					{% else %}
					<span class="col-2 text-center px-0">
						{{line.price}} €
					{% endif %}
					</span>
				</div>
			
			{% endif %}
			{% endfor %}
		</div>
	</div>

	{% if bill_amount and not new_data.items_qty %}
	<div class="container-fluid mt-4">
		<div class="row d-flex justify-content-center mb-0">
			
			<form action="{% url 'check_bill' %}" method="post">
				{% csrf_token %}
				<button class="btn rounded px-3 mx-2 " >Payer</button>
			  </form>
			
		</div>
	</div>
	{% endif %} 
	
</section>

{% endblock %}