{% extends 'command/base.html' %}
{% block title %}MonPtiBar - Note{% endblock %}
{% load static %}
{% block content %}

<section class="page-section h-100">
	
	<div class="container-fluid">
		<div class="row d-flex justify-content-between pb-1 px-3">
			<a href="{% url 'ordering' %}">
				<div class="col-12 text-center">Menu
					<div class="">
						<i class="fas fa-clipboard-list"></i>
					</div>
				</div>
			</a>
			<a href="">
				<div class="col-12 text-center">Rafraichir
					<div class="">
						<i class="fas fa-sync-alt"></i>
					</div>
				</div>
			</a>
		</div>
	
		<div class="row d-flex justify-content-between align-items-center p-2" id="page-up">
			<div class="justify-content-between">
				<span class="">Total: <strong>{{ bill_amount }} €</strong></span>
				{% if tip_amount %}
				<br>
				<span><i class="fas fa-piggy-bank" style="font-size: x-large;"></i> : <strong>{{ tip_amount }} €</strong></span>
				{% endif %}
			</div>
			<span class="rounded border bg-dark p-1"><b>A payer: {{ rest_amount }} €</b></span>
		</div>
		
		<div class="row d-flex bg-dark mb-1 align-items-center my-3">
			<div class="col-12 text-center">
				<span >Vous souhaitez laisser un pour boire ?</span>
				<span><i class="fas fa-info-circle"  style="font-size: large;" onclick="displayElt('tip-info')"></i></span>
			</div>
			<div class="container-fluid text-center" id="tip-info" style="display: none;">
				<span class="col-12 text-warning p-0" style="line-height: 1em;">
				Saisissez un montant pour <br>
				<strong>Donner</strong> ou <strong>Modifier</strong> un pour boire,<br>
				puis cliquez sur le <strong>Cochon</strong>.
				</span>
			</div>
			<span class="col-12 text-center">
				<form action="{% url 'tip_bill' %}" id="tip-form" method="post">
					{% csrf_token %}
					{{ form }}
					<label for="tip"></label>
					<input type="number" step="any" id="tip" name="tip"
					placeholder='0' required style="width: 60px;"> €
					<button class="btn rounded m-2 p-1"><i class="fas fa-piggy-bank pr-1" style="font-size: x-large;"></i></button>
				  </form>
			</span>
		</div>

		<div class="row d-flex bg-dark mb-1 align-items-center my-3">
			<span class="col-7 p-1"> Total:</span>
			<span class="col-3 p-1"><b>{{ rest_amount }} €</b></span>
			<span class="col-2 pt-1 text-center">
				<a href="{% url 'pay_bill' %}?total-amount='{{ rest_amount }}'"><i class="fas fa-credit-card"></i></a>
			</span>
		</div>

		{% if not rest_amount <= bill_user %}
			{% if nbr_user > 1 %}
			<div class="row d-flex justify-content-center bg-dark my-3">
				<span class="col-7 p-1" style="text-transform: capitalize;"> {{ user }}:</span>
				{% if bill_user %}
				<div class="col-3 p-1">
					<span><b>{{ bill_user }} €</b></span>
					{% if tip_user.amount > 0 %}
					<br>
					<span  style="font-size: 80%;">
						<i class="fas fa-piggy-bank" style="font-size: large;"></i> : {{ tip_user.amount }} €
					</span>
					{% endif %}
				</div>
				<span class="col-2 pt-1 text-center">
					<a href="{% url 'pay_bill' %}?user-amount={{ bill_user }}"><i class="fas fa-credit-card"></i></a>
				</span>
				{% else %}
				<span class="col-5 p-1"><b>0 €</b></span>
				{% endif %}
				<div class="row w-100 d-flex justify-content-center text-center text-muted" id='other-userbutton'
					onclick="displayElt('other-user')">
					<i>>> Ajouter un client a votre note ?</i>
				</div>
				<div class="" id="other-user" style="display: none;">
				{% for customer in customers %}
				{% if not customer.user == user %}
				<a class="nav-link" href="{% url 'pay_bill' %}?add-bill={{ customer.user }}">
					<span style="text-transform: capitalize;"><i>{{ customer.user }}</i></span>
				</a>
				{% endif %}
				{% endfor %}
				</div>
				
			</div>
			
			<div class="row d-flex justify-content-center bg-dark my-3">
			
				<span class="col-7 p-1">Divisée par <strong>{{ nbr_user }}</strong></span>
				<span class="col-3 p-1"><b>{{ split_bill }} €</b></span>
				<span class="col-2 pt-1 text-center">
					<a href="{% url 'pay_bill' %}?split-amount={{ split_bill }}"><i class="fas fa-credit-card"></i></a>
				</span>
				
			</div>
			{% endif %}
		{% endif %}

	</div>

</section>

{% endblock %}