
<section class="page-section">
    <div class="container-fluid bg-dark">
        <div class="row d-flex justify-content-center" id="comment">
            Commentaires
        </div>
        {% if user.is_authenticated %}
        <div class="row d-flex justify-content-center  text-center text-muted" id="comment">
        <a href="#new-comment">Laissez un commentaire</a>
        </div>
        {% endif %}
    </div>

    <div class="container-fluid bg-dark my-2" id="comments">
        {% if not comments %}
        <div class="row d-flex justify-content-center text-center text-muted" >
            Il n'y a pas encore de commentaire
        </div>
        {% else %}
        {% for comment in comments %}
            {% if comment.visible %}
            <div class="row d-flex justify-content-center border text-center my-2">
            {% else %}
            <div class="row d-flex justify-content-center border text-center text-muted my-2">
            {% endif %}
                <div class="new col-4 p-1 text-left">{{ comment.user }}</div>
                <div class="new col-8 p-1 text-right">{{ comment.date }}</div>
                <div class="col-11 mb-1 p-1 text-left">{{ comment.message }}</div>
                {% if user.is_superuser %}
                <div class="col-11 mb-1 ">
                    <a href="{% url 'check_comment' %}?change={{ comment.id}}">{{ comment.visible }}</a>
                </div>
                {% endif %}
            </div>
        
        {% endfor %}
        {% endif %}
    </div>
    
    <div class="container-fluid bg-dark text-center py-1" id="new-comment">
        {% if user.is_authenticated %}
        <form action="{% url 'new_comment' %}" id="new-comment-form" method="post">
            {% csrf_token %}
            {{ form }}
            <label for="message"></label>
            <br>
            <textarea placeholder="Laissez votre commentaire ici" id="message" name="message"  rows="5" required></textarea>
 
            <br>
            <button class="btn rounded m-2 p-1">Envoyer</button>
        </form>
        {% else %}
        <div class="row d-flex justify-content-center border text-center text-muted my-2">
            Vous devez être connecté(e) laisser un commentaire
            <a href="/accounts/login/"><i><u>Connectez-vous</u></i></a>
        </div>
        {% endif %}
    </div>
    
</section>