{% extends 'command/base.html' %}
{% block title %}MonPtiBar - Menu{% endblock %}
{% load static %}
{% block content %}


<section class="page-section h-100">
  <div class="container-fluid">
    <div class="row d-flex justify-content-around ">
      <span class="">Nombre d'article: <strong>+ {{ new_data.items_qty }}</strong></span>
      <span class="">Note: <strong>+ {{ new_data.total_price|floatformat:2 }} €</strong></span>
    </div>
    <div class="row d-flex justify-content-center p-1">
      <form action="{% url 'get_bill' %}" method="post">
        {% csrf_token %}
        <button class="btn rounded px-3 mx-2 " >Voir la note</button>
      </form>
    </div>
    {% if error %}
    <div class="row d-flex justify-content-center text-center">
      <div class="row alert alert-warnig justify-content-center w-100">
        <p class="m-1">{{error}}</p>
      </div>
    </div>
    {% endif %}
    {% if message %}
    <div class="row d-flex bg-dark justify-content-around align-items-center border border-success m-1"> 
      <div class="d-flex col-10">
        <span class="text-success">{{ message }}<span>
      </div>
      
      {% if order_id %}
      <div class="d-flex col-2 justify-content-end px-2">
        <form action="{% url 'ordering' %}?del-product={{ order_id.id }}" id="ordering-form" method="post">
          {% csrf_token %}
          <button class="btn rounded m-2 p-1" input type="post">X</button>
        </form>
      </div>
      {% endif %} 
    </div>
    {% endif %} 
  </div>

  <div class="container-fluid">
    <div class="row d-flex justify-content-around">   
    {% for family in menu.family %}
      <div class="d-flex col-3 p-0  m-1 bg-dark justify-content-center text-center align-items-center"
        style="height:55px;" id='{{ family }}button' onclick="displayElt('{{ family }}','{{ family }}button')"><strong><i>{{ family }}</i></strong>
      </div>
    {% endfor %}
    </div>
  </div>
  
  {% for family in menu.family %}
  {% if family == order_id.product.family %}
  <div class="family container-fluid" id="{{ family }}" style="display: block;">
  {% else %}
  <div class="family container-fluid" id="{{ family }}" style="display: none;">
  {% endif %}
    <div class="menu row d-flex justify-content-center text-center bg-dark my-3">
      <h4 class="p-0"><strong>{{ family }}</strong></h4>
      <div class="row w-100"></div>
  
      {% for product in menu.menu %}
      {% if product.family == family %}
      
      <div class="row d-flex col-12 p-0 align-items-center border-bottom border-black">
        <div class="d-flex col-11 p-0 justify-content-start align-items-center ">
          <div class="col-5 p-1">
            <div class="text-left m-1" id="product" name="product" form='ordering-form'>
              <strong>{{ product.name }}</strong>
            </div>
          </div>
          <div class="col-4 p-1">
            <div class="text-left text-muted m-1" style="font-size: 80%;" id="details">{{ product.details }}</div>
          </div>
          <div class="col-3 p-1">
            <div class="text-right m-1"><strong>{{ product.unit_price|floatformat:2 }} €</strong></div>
          </div>
        </div>

        <div class="d-flex col-1 p-0 justify-content-center">
          <form action="{% url 'ordering' %}?add-product={{ product.name }}" id="ordering-form" method="post">
            {% csrf_token %}
            <button class="btn rounded m-2 p-1">+</button>
          </form>
        </div>
      </div>
      <div class="row w-100"></div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endfor %}
  
</section>

{% endblock %}