{% extends 'command/base.html' %}
{% block title %}Connexion{% endblock %}
{% load static %}
{% load account %}
{% block content %}

<section class="page-section ">
  <div class="container-fluid bg-dark rounded col-11 my-3 p-2">
    <div class="row d-flex justify-content-center text-center text-warning mx-1 pb-2">
      <a href="{% url 'ordering' %}">
				<div class="col-12 text-center">Menu
					<div class="">
						<i class="fas fa-clipboard-list"></i>
					</div>
				</div>
			</a>
    </div>
    <div class="row d-flex justify-content-center text-center text-warning mx-1 p-0"
      style="font-size: 90%;">
      Vous devez être connecté(e) pour commander
    </div>
    
    <hr class="divider my-3">
    <div class="row d-flex justify-content-center mx-1">
      <h1 class="pb-2"><strong>Connexion</strong></h1>
    </div>
    <div class="row d-flex justify-content-center text-center mx-1">
      Pas encore inscrit ?
    </div>
    <div class="row d-flex justify-content-center text-center mb-3 mx-1">
      <a href="/accounts/signup/"><i>>> Inscrivez-vous <<</i></a>
    </div>
    <div class="text-center mb-4">
      <img src="{% static 'command/img/nav/logo_monpetitbar.png' %}" alt="" style="max-height: 130px;">
    </div>
    <div class="row d-flex rounded mx-1 py-1 justify-content-center text-center">
      <div class="col-12">Identifiez vous avec:</div>
      <span class="col"><img src="{% static 'command/img/facebook.png' %}" alt="" style="max-height: 45px;" onclick="displayElt('social')"></span>
      <span class="col"><img src="{% static 'command/img/google.png' %}" alt="" style="max-height: 45px;" onclick="displayElt('social')"></span>
      <span class="col"><img src="{% static 'command/img/github.png' %}" alt="" style="max-height: 45px;" onclick="displayElt('social')"></span>
     
    </div>
    <div class="container-fluid p-0" id="social" style="display: none;" >
      <div class="row d-flex justify-content-center align-items-center text-warning text-center mx-1">
        <img src="{% static 'command/img/oups.gif' %}" alt="" style="max-height: 40px;">
        <span>Impossible en mode "Demo"</span>
        <img src="{% static 'command/img/oups.gif' %}" alt="" style="max-height: 40px;">
        
      </div>
    </div>
    <hr class="divider mt-2 mb-0">
    <div class="row d-flex justify-content-center text-center py-1">ou</div>
    
<!-- Social Accounts (Disabled)
<p>Merci d'ouvrir une session avec l'un de vos comptes sociaux. Vous pouvez aussi <a href="/accounts/signup/">ouvrir un compte</a> example.com puis vous connecter ci-dessous :</p>
  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
      <li>
        <a title="Facebook" class="socialaccount_provider facebook" 
          href="/accounts/facebook/login/?process=login">Facebook</a>
      </li>
    </ul>

  <div class="login-or">ou</div>

</div>

<div id="fb-root"></div>
<script id="allauth-facebook-settings" type="application/json">
{"appId": "470883020250009", "version": "v7.0", "sdkUrl": "//connect.facebook.net/fr_FR/sdk.js", "initParams": {"appId": "470883020250009", "version": "v7.0"}, "loginOptions": {"auth_type": "reauthenticate", "scope": "email", "auth_nonce": "5JcYpowUKEkaGeOUfHae9Zuwo98AmyDy"}, "loginByTokenUrl": "http://127.0.0.1:8000/accounts/facebook/login/token/", "cancelUrl": "http://127.0.0.1:8000/accounts/social/login/cancelled/", "logoutUrl": "http://127.0.0.1:8000/accounts/logout/", "loginUrl": "http://127.0.0.1:8000/accounts/facebook/login/", "errorUrl": "http://127.0.0.1:8000/accounts/social/login/error/", "csrfToken": "CXbz6uoIDHatELjaYFUkVEJINZuKpy26sIIsphrYi6j1IhaXOZFmYCWz0V1kbizg"}
</script>
<script type="text/javascript" src="/static/facebook/js/fbconnect.js"></script>-->

    <div class="row d-flex justify-content-center text-center mx-1">
      <form class="login" method="POST" action="/accounts/login/">
        {% csrf_token %}
        {% if form.as_p %}
        {{ form.as_p }}
        {% else %}
        <p>
          <label for="id_login"></label>
          <input type="text" name="login" placeholder="Pseudonyme" maxlength="150" required id="id_login">
        </p>
        <p>
          <label for="id_password"></label>
          <input type="password" name="password" placeholder="Mot de passe" required id="id_password">
        </p>
        <p>
          <label for="id_remember">Se souvenir de moi :</label>
          <input type="checkbox" name="remember" id="id_remember">
        </p>
        {% endif %}
        <!--<a class="button secondaryAction" href="/accounts/password/reset/">Mot de passe oublié ?</a>-->
        <div class="row d-flex justify-content-center">
          <button class="btn rounded col-5 m-2 px-1 py-0" type="submit">Connexion</button>
        </div>
      </form>
    </div>
  </div>

</section>    

{% endblock %}